<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Senac.Fecomercio.Servicos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!-- Homologacao -->
    <add name="BDTGTC" connectionString="5l4jysgAazZL+uCQy3Q7JJ+jQJ9OjjDpTnRF2XwsZCKn4VOtfKcvI2VezQhanewxIGTtS77wrtBKD7er7ZSqHFO9h6sAgSX5Izf1aNSIhRm6WxdHiFqml9T1iB6ZkmuU9zmgYmCOEsVAii87cl9VboVcYXIp2EtHMf7pKEg91tT7qKO/LTwamfuJ24b0xZJOxD1PjzGz2Dq2Trnfn/ryV5oIKd/IxmKOvbaUh+tRCs52CG5QKA1FxDZaKjHaQk11" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Ambiente" value="HOMOLOGACAO"/>
    <add key="commandTimeout" value="120"/>
    <add key="app.pathlog" value="C:\Temp\LogAPI\"/>
    <add key="NomeSistema" value="SenacWebApi"/>
    <add key="EventLogSource" value="Senac - WebAPI"/>
    <add key="URL_SERVICO_BASE" value="http://localhost:60440/SenacWeb"/>
  </appSettings>
  <log4net>
    <appender name="AsyncLogFileAppender" type="Senac.Fecomercio.Common.AsyncLogFileAppender">
      <appender-ref ref="RollingFileAppender"/>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Temp\LogAPI\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <encoding value="utf-8"/>
      <maxSizeRollBackups value="-1"/>
      <datePattern value="'log_WEBAPI_'yyyyMMddHH'.txt'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{HH:mm:ss,fff} [ThreadID=%thread] %-5level - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <acceptOnMatch value="true"/>
      </filter>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="AsyncLogFileAppender"/>
    </root>
  </log4net>
  <system.web>
    <compilation targetFramework="4.6" debug="true"/>
    <httpRuntime targetFramework="4.6"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>