<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Homologação -->
    <add key="GTeC.Socket.IP" value="10.90.7.122"/>
    <add key="GTeC.Socket.Porta" value="3050"/>
    <!-- Produção -->
    <!--add key="GTeC.Socket.IP" value="10.90.7.121"/>
    <add key="GTeC.Socket.Porta" value="3052"/-->
    <add key="GTeC.Socket.Diretorio" value="C:\GTeC\tempMensageria"/>
    <add key="GTeC.Socket.DiretorioMapping" value="C:\GTeC\DOTNET\Senac.Fecomercio\Senac.Fecomercio.Mensageria\FileMap"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
