<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Senac.Fecomercio.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificacaoSMS" />
        <binding name="BaixaChamadoSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.82.31.18/Servicos/EnviaSMS.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificacaoSMS"
          contract="SVC_EnviaSMS.INotificacaoSMS" name="BasicHttpBinding_INotificacaoSMS" />
      <endpoint address="http://webcenterhml/wsgtec/baixa/v1/BaixaChamado.asmx"
          binding="basicHttpBinding" bindingConfiguration="BaixaChamadoSoap"
          contract="svcBaixaChamado.BaixaChamadoSoap" name="BaixaChamadoSoap" />
    </client>
    
  </system.serviceModel>
  
  <applicationSettings>
    <Senac.Fecomercio.Business.Properties.Settings>
      <setting name="Cielo_Gtec_Business_PI_Sigo_SigoPortService" serializeAs="String">
        <value>http://localhost:8080/chamadoSOAP</value>
      </setting>
    </Senac.Fecomercio.Business.Properties.Settings>
  </applicationSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
 
</configuration>
